<style>
h4{
	font-weight:bold;
}
@media (max-width: 750px){
	#mainleft{height:400px}
}
@media (min-width: 750px){
	#mainleft{height:800px}
}
</style>
<div class="container">

	<div class="row">
		<div class="col-md-12">
			<h3>{$row.name} - 访问统计情况</h3>
		</div>
	</div>

	<div class="row">
		<div class="col-md-8 col-sm-12">
			<div id="mainleft" style="width: 100%;"></div>
		</div>
		<div class="col-md-4 col-sm-12">

			<div class="panel panel-default">
				<!-- Default panel contents -->
				<div class="panel-heading" >
					<h4>总计：{$total}人</h4>
				</div>
			</div>
			<div class="panel panel-default">
				<!-- Default panel contents -->
				<div class="panel-heading">
					<h4>国内分布统计</h4>
				</div>
				<!-- Table -->
				<table class="table">
					<tr>
						<th>省份</th>
						<th>人数</th>
					</tr>
					{volist name="dataList" id="vo"}
					{if condition="$vo.value>0"}
					<tr>
						<td>{$vo.name}</td>
						<td>{$vo.value}</td>
					</tr>
					{/if}
					{/volist}
				</table>
			</div>
			<div class="panel panel-default">
				<!-- Default panel contents -->
				<div class="panel-heading">
					<h4>按国统计分布</h4>
				</div>
				<!-- Table -->
				<table class="table">
					<tr>
						<th>国家</th>
						<th>人数</th>
					</tr>
					{volist name="dataList2" id="vo" empty="<tr><td colspan='2'>没有数据<td></tr>" }
					<tr>
						<td>{$vo.name}</td>
						<td>{$vo.value}</td>
					</tr>
					{/volist}
				</table>
			</div>
			<div class="panel panel-default">
				<!-- Default panel contents -->
				<div class="panel-heading">
					<h4>手机访问二维码</h4>
					<img src='getMobileUrl?id={$row.id}' border='0'/>
				</div>
				
			</div>
		</div>
	</div>
</div>
<script>
    var dataList  = {:json_encode(array_values($dataList))};
    var dataList2  = {:json_encode(array_values($dataList2))};
    var chartconfig  = {:json_encode(($chartconfig))};

 
</script>