<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
    {:token()}
    <input type="hidden" name="row[id]" value="{$row.id}">
<!--    <div class="form-group">-->
<!--        <label for="c-username" class="control-label col-xs-12 col-sm-2">{:__('Username')}:</label>-->
<!--        <div class="col-xs-12 col-sm-4">-->
<!--            <input id="c-username" data-rule="required" class="form-control" name="row[username]" type="text"-->
<!--                   value="{$row.username|htmlentities}">-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="form-group" >-->
<!--        <label for="c-nickname" class="control-label col-xs-12 col-sm-2">{:__('Nickname')}:</label>-->
<!--        <div class="col-xs-12 col-sm-4">-->
<!--            <input id="c-nickname" data-rule="required" class="form-control" name="row[nickname]" type="text"-->
<!--                   value="{$row.nickname|htmlentities}">-->
<!--        </div>-->
<!--    </div>-->

    <div class="form-group">
        <label for="c-nomoney" class="control-label col-xs-12 col-sm-2">{:__('账户余额')}:</label>
        <div class="col-xs-12 col-sm-4">
            <input id="c-nomoney" data-rule="" class="form-control" name="row[nomoney]" type="number"
                   value="{$row.nomoney}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-money" class="control-label col-xs-12 col-sm-2">{:__('可提现余额')}:</label>
        <div class="col-xs-12 col-sm-4">
            <input id="c-money" readonly data-rule="" class="form-control" name="row[money]" type="number" value="{$userMoney.money}">
        </div>
    </div>
    <div class="form-group" style="margin-left: 30px">
        <div class="form-group">
            <label for="c-money_tuijian" class="control-label col-xs-12 col-sm-2">{:__('推荐奖励款项')}:</label>
            <div class="col-xs-12 col-sm-4">
                <input id="c-money_tuijian" data-rule="" class="form-control" name="row[money_tuijian]" type="number" value="{$userMoney.money_tuijian}">
            </div>
        </div>
        <div class="form-group">
            <label for="c-money_shifang" class="control-label col-xs-12 col-sm-2">{:__('分红释放款项')}:</label>
            <div class="col-xs-12 col-sm-4">
                <input id="c-money_shifang" data-rule="" class="form-control" name="row[money_shifang]" type="number" value="{$userMoney.money_shifang}">
            </div>
        </div>
        <div class="form-group">
            <label for="c-money_qiandao" class="control-label col-xs-12 col-sm-2">{:__('每日签到款项')}:</label>
            <div class="col-xs-12 col-sm-4">
                <input id="c-money_qiandao" data-rule="" class="form-control" name="row[money_qiandao]" type="number" value="{$userMoney.money_qiandao}">
            </div>
        </div>
        <div class="form-group">
            <label for="c-money_quanhuan" class="control-label col-xs-12 col-sm-2">{:__('券换资金款项')}:</label>
            <div class="col-xs-12 col-sm-4">
                <input id="c-money_quanhuan" data-rule="" class="form-control" name="row[money_quanhuan]" type="number" value="{$userMoney.money_quanhuan}">
            </div>
        </div>
        <div class="form-group">
            <label for="c-money_choujiang" class="control-label col-xs-12 col-sm-2">{:__('抽奖资金款项')}:</label>
            <div class="col-xs-12 col-sm-4">
                <input id="c-money_choujiang" data-rule="" class="form-control" name="row[money_choujiang]" type="number" value="{$userMoney.money_choujiang}">
            </div>
        </div>
        <div class="form-group">
            <label for="c-money_neixu" class="control-label col-xs-12 col-sm-2">{:__('内需奖励款项')}:</label>
            <div class="col-xs-12 col-sm-4">
                <input id="c-money_neixu" data-rule="" class="form-control" name="row[money_neixu]" type="number" value="{$userMoney.money_neixu}">
            </div>
        </div>
        <div class="form-group">
            <label for="c-money_zhengcejin" class="control-label col-xs-12 col-sm-2">{:__('政策金')}:</label>
            <div class="col-xs-12 col-sm-4">
                <input id="c-money_zhengcejin" data-rule="" class="form-control" name="row[money_zhengcejin]" type="number" value="{$userMoney.money_zhengcejin}">
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="c-score" class="control-label col-xs-12 col-sm-2">{:__('消费券')}:</label>
        <div class="col-xs-12 col-sm-4">
            <input id="c-score" data-rule="" class="form-control" name="row[score]" type="number" value="{$row.score}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-neixuquan" class="control-label col-xs-12 col-sm-2">{:__('内需券')}:</label>
        <div class="col-xs-12 col-sm-4">
            <input id="c-neixuquan" data-rule="" class="form-control" name="row[neixuquan]" type="number" value="{$row.neixuquan}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-game_level_jy" class="control-label col-xs-12 col-sm-2">{:__('商城经验')}:</label>
        <div class="col-xs-12 col-sm-4">
            <input id="c-game_level_jy" data-rule="" class="form-control" name="row[game_level_jy]" type="number" value="{$row.game_level_jy}">
        </div>
    </div>
    <div class="form-group" style="display: none">
        <label for="c-czbzj" class="control-label col-xs-12 col-sm-2">{:__('财政补助金')}:</label>
        <div class="col-xs-12 col-sm-4">
            <input id="c-czbzj" data-rule="" class="form-control" name="row[czbzj]" type="number" value="{$row.czbzj}">
        </div>
    </div>
    
    <div class="form-group">
        <label for="c-nxxfjlx" class="control-label col-xs-12 col-sm-2">{:__('内需消费金利息')}:</label>
        <div class="col-xs-12 col-sm-4">
            <input id="c-nxxfjlx" data-rule="" class="form-control" name="row[nxxfjlx]" type="number" value="{$row.nxxfjlx}">
        </div>
    </div>
    
    <div class="form-group" style="margin-top: 40px">
        <label for="c-memo" class="control-label col-xs-12 col-sm-2">{:__('备注')}:</label>
        <div class="col-xs-12 col-sm-4">
            <input id="c-memo" data-rule="" class="form-control" name="row[memo]" type="text" value="{$row.memo ? $row.memo : ''}">
        </div>
    </div>

    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-primary btn-embossed ">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
