<style>
    /* Style for the full-screen loading overlay */
    .loading-overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.8);
        /* Semi-transparent white background */
        z-index: 9999;
    }

    .loader {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 8px solid #f3f3f3;
        /* Light gray border */
        border-top: 8px solid #3498db;
        /* Blue border on top */
        border-radius: 50%;
        width: 50px;
        height: 50px;
        animation: spin 1s linear infinite;
        /* Rotate animation */
    }
    
    .modal-footer {
        padding: 9px;
        text-align: right;
        border-top: 1px solid #e5e5e5;
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
</style>

<div class="panel panel-default panel-intro">
    {:build_heading()}

    <div class="panel-body">
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="one">
                <div class="widget-body no-padding">
                    <div id="toolbar" class="toolbar">
                        {:build_toolbar('refresh,add')}
                        <div class="dropdown btn-group {:$auth->check('user/user/multi')?'':'hide'}">
                            <a class="btn btn-primary btn-more dropdown-toggle btn-disabled disabled" data-toggle="dropdown"><i class="fa fa-cog"></i> {:__('More')}</a>
                            <ul class="dropdown-menu text-left" role="menu">
                                <li><a class="btn btn-link btn-multi btn-disabled disabled" href="javascript:;" data-params="status=normal"><i class="fa fa-eye"></i> {:__('Set to normal')}</a></li>
                                <li><a class="btn btn-link btn-multi btn-disabled disabled" href="javascript:;" data-params="status=hidden"><i class="fa fa-eye-slash"></i> {:__('Set to hidden')}</a></li>
                            </ul>
                        </div>
                        <a href="javascript:;" class="btn btn-info btn-multiple btn-disabled disabled"
                            data-toggle="modal" data-target="#exampleModal" title="{:__('批量处理')}"><i
                                class="fa fa-check-circle-o"></i> {:__('批量处理')}</a>
                    </div>
                    <table id="table" class="table table-striped table-bordered table-hover table-nowrap"
                           data-operate-edit="{:$auth->check('user/user/edit')}"
                           data-operate-del="{:$auth->check('user/user/del')}"
                           width="100%">
                    </table>
                </div>
            </div>

        </div>
    </div>
    <div id="loading-overlay" class="loading-overlay">
        <div class="loader"></div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document" style="width: 400px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="margin-bottom: -20px;">
                    <form method="POST" action="">
                        <div class="form-group row">
                            <label for="colFormLabelSm"
                                class="col-sm-2 col-form-label col-form-label-sm">{:__('Status')}:</label>
                            <div id="colFormLabel" class="col-sm-10">

                                {foreach name="getAccType" item="vo"}
                                <label for="is_rot-{$key}"><input id="is_rot-{$key}" name="is_rot" type="radio"
                                        value="{$key}" {in name="key" value="1" }checked{/in} />
                                    {$vo}</label>
                                {/foreach}

                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="submit_data()">{:__('OK')}</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function getIdSelections() {
        return $.map($("#table").bootstrapTable('getSelections'), function (row) {
            return row.id
        });
    };
    function submit_data() {
        $('#exampleModal').modal('hide');
        $('#loading-overlay').show();
        var checkids = [];
        checkids = getIdSelections();
        console.log(checkids);
        var is_rots = $('input[name="is_rot"]:checked').val();
        var requestData = {
            ids: checkids,
            is_rot: is_rots
        };
        $.ajax({
            type: 'POST',
            url: 'user/user/update_user_type',
            data: requestData,
            success: function (data) {
                $('#table').bootstrapTable('refresh');
                $('#loading-overlay').hide();
            },
            error: function (xhr, status, error) {
                console.error('Error:', xhr.responseText);
                // Handle errors here
            }
        });
    }

</script>
