<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
    {:token()}
    <input type="hidden" name="ids" value="{$ids}">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('认证')}:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_radios('row[is_renzheng]', ['0'=>__('无权限'), '1'=>__('开放权限')], 0)}
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('审核')}:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_radios('row[is_shenhe]', ['0'=>__('未审核'), '1'=>__('审核中'), '2'=>__('审核通过')], 0)}
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('国债签署')}:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_radios('row[is_project]', ['0'=>__('无权限'), '1'=>__('开放权限')], 0)}
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('提现权限')}:</label>
        <div class="col-xs-12 col-sm-8">

              <div class="checkbox">

                <label for="row[withdrawal][]-国债"><input id="row[withdrawal][]-国债" name="row[withdrawal][]" type="checkbox" value="国债"   /> 国债</label>
                <label for="row[withdrawal][]-专项债"><input id="row[withdrawal][]-专项债" name="row[withdrawal][]" type="checkbox" value="专项债"   /> 专项债</label>
                <label for="row[withdrawal][]-可提现余额"><input id="row[withdrawal][]-可提现余额" name="row[withdrawal][]" type="checkbox" value="可提现余额"   /> 可提现余额</label>
                <label for="row[withdrawal][]-财政补助金"><input id="row[withdrawal][]-财政补助金" name="row[withdrawal][]" type="checkbox" value="财政补助金"   /> 财政补助金</label>
                <label for="row[withdrawal][]-团队长工资"><input id="row[withdrawal][]-团队长工资" name="row[withdrawal][]" type="checkbox" value="团队长工资"   /> 团队长工资</label>

              </div>
        </div>
    </div>


    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-primary btn-embossed ">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
