<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-name" data-rule="required" class="form-control" name="row[name]" type="number" value="0">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Dividend')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-dividend" data-rule="required" class="form-control" step="0.01" name="row[dividend]" type="number" value="0.00">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Bai_num')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-bai_num" data-rule="required" class="form-control" name="row[bai_num]" type="number" value="1">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Bai_quan')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-bai_quan" data-rule="required" class="form-control" name="row[bai_quan]" type="number" value="0">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Jy')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-jy" data-rule="required" class="form-control" name="row[jy]" type="number">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-primary btn-embossed disabled">{:__('OK')}</button>
        </div>
    </div>
</form>
